* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 1440px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
