:root {
    /* Font families */
    --font-int: "Inter", sans-serif;
    --font-noto: "Noto Sans", sans-serif;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Font sizes */
    --font-size-11: 11px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-48: 48px;
}

/* Noto Sans ExtraBold */
.noto-extrabold-20 {
    font-family: var(--font-noto);
    font-weight: var(--font-weight-extrabold);
    font-size: var(--font-size-20);
}

/* Noto Sans Regular */
.noto-reg-11 {
    font-family: var(--font-noto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-11);
}

.noto-reg-14 {
    font-family: var(--font-noto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-14);
}

.noto-reg-16 {
    font-family: var(--font-noto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
}

.noto-reg-18 {
    font-family: var(--font-noto);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-18);
}

/* Inter Bold */
.int-bold-17 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-17);
}

.int-bold-18 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-18);
}

.int-bold-24 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-24);
}

.int-bold-28 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-28);
}

.int-bold-48 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-48);
}

/* Inter Regular */
.int-reg-15 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-15);
}

.int-reg-16 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-16);
}

.int-reg-18 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-18);
}

.int-reg-48 {
    font-family: var(--font-int);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-48);
}
