/* Header */
.main-header {
    display: flex;
    padding: 0px 65px 1px 45px;
    align-items: flex-start;
    opacity: 80%;
    background: white;
}

.header-container {
    display: flex;
    width: 100%;
    padding: 20px 0px 20px 0px;
    align-items: center;
    gap: 40px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    min-width: 240px;
    margin: auto 0;
    padding-right: 80px;
    gap: 50px;
    color: #050038;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 627px;
}

.logo {
    aspect-ratio: 4;
    object-fit: contain;
    object-position: center;
    width: 91px;
    flex-shrink: 0;
}

.main-nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    margin: auto 0;
    align-items: stretch;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

.dropdown-icon {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 12px;
    margin-top: 10px;
    flex-shrink: 0;
}

.header-right {
    align-self: stretch;
    min-width: 240px;
    margin: auto 0;
    overflow: hidden;
    width: 444px;
}

.actions-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 10px 50px;
    justify-content: center;
}

.actions-group {
    align-self: stretch;
    display: flex;
    margin: auto 0;
    align-items: center;
    gap: 15px;
    color: rgba(5, 0, 56, 1);
}

.language-selector {
    align-self: stretch;
    display: flex;
    margin: auto 0;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    width: 54px;
}

.language-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    flex-shrink: 0;
}

.action-button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    align-self: stretch;
    margin: auto 0;
}

.header-signup-button {
    border: none;
    border-radius: 8px;
    background-color: #ad8bda;
    margin: auto 0;
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

/* Main Visual */
.main-container {
    background: linear-gradient(180deg, #f4f0f1 0%, #ffffff 100%);

    padding: 80px 65px;
}

.main-visual {
    display: flex;
    align-items: center;
    gap: 40px 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.content-column {
    display: flex;
    flex-direction: column;
    height: 540px;
    flex-shrink: 0;
    width: 440px;
}

.image-column {
    height: 540px;
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 41/27;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}
