/* Main Visual */
.hero-title {
    color: #050038;
    line-height: 56px;
    letter-spacing: -1px;
    align-self: start;
    resize: auto;
    margin: 0;
}

.hero-description {
    color: #050038;
    line-height: 24px;
    width: 430px;
    margin-top: 16px;
    margin-bottom: 0;
}

.signup-form {
    display: flex;
    width: 440px;
    height: 48px;
    align-items: center;
    flex-shrink: 0;
    margin-top: 32px;
}

.email-input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(155, 153, 175, 1);
    width: 100%;
    padding: 13px 25px;
    color: rgba(95, 92, 128, 1);
}

.email-input::placeholder {
    color: rgba(95, 92, 128, 1);
}

.signup-button {
    width: 440px;
    border-radius: 8px;
    box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #d5acc1 0%, #665cd6 60%, #665cd6 100%);
    margin-top: 13px;
    min-height: 48px;
    padding: 12px 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    border: none;
    cursor: pointer;
}

.collaboration-text {
    color: #050038;
    opacity: 40%;
    line-height: 1;
    align-self: flex-end;
    margin-top: 7px;
    margin-bottom: 0;
}

.reviews-section {
    border-radius: 8px;
    display: flex;
    margin-top: 70px;
    min-height: 126px;
    width: 100%;
    padding: 17px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(5, 0, 56, 1);
    line-height: 1;
    justify-content: center;
}

.rating-stars {
    aspect-ratio: 6.99;
    object-fit: contain;
    object-position: center;
    width: 105px;
}

.reviews-count {
    margin-top: 10px;
    line-height: 15px;
}

.review-logos {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 14px;
    overflow: hidden;
}

.review-logo {
    aspect-ratio: 0.59;
    object-fit: contain;
    object-position: center;
    width: 19px;
    flex-shrink: 0;
}

.review-logo-wide {
    aspect-ratio: 1.85;
    object-fit: contain;
    object-position: center;
    width: 59px;
    flex-shrink: 0;
}

/* Section 2 */
.trusted-section {
    display: flex;
    padding: 60px 0px 0px 60px;
    align-items: start;
    text-align: center;
    line-height: 1;
    justify-content: start;
}

.trusted-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trusted-heading {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.partner-logos {
    width: 100%;
    z-index: 10;
    margin: 50px;
}
