/* Main Visual */
.hero-title {
    color: #050038;
    line-height: 56px;
    letter-spacing: -1px;
    align-self: start;
    resize: auto;
    margin: 0;
}

.hero-description {
    color: #050038;
    line-height: 24px;
    width: 430px;
    margin-top: 16px;
    margin-bottom: 0;
}

.signup-form {
    display: flex;
    width: 440px;
    height: 48px;
    align-items: center;
    flex-shrink: 0;
    margin-top: 32px;
}

.email-input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(155, 153, 175, 1);
    width: 100%;
    padding: 13px 25px;
    color: rgba(95, 92, 128, 1);
}

.email-input::placeholder {
    color: rgba(95, 92, 128, 1);
}

.signup-button {
    width: 440px;
    border-radius: 8px;
    background: var(--gradiant, linear-gradient(90deg, #d5acc1 0%, #665cd6 60%, #665cd6 100%));
    box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.25);
    margin-top: 13px;
    min-height: 48px;
    padding: 12px 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    border: none;
    cursor: pointer;
}
.signup-button:hover {
    width: 440px;
    border-radius: 8px;
    background: linear-gradient(90deg, #665cd6 0%, #665cd6 40%, #d5acc1 100%);
    box-shadow: 2px 2px 40px 0px rgba(0, 0, 0, 0.25);
    margin-top: 13px;
    min-height: 48px;
    padding: 12px 30px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    border: none;
    cursor: pointer;
}

.collaboration-text {
    color: #050038;
    opacity: 40%;
    line-height: 1;
    align-self: flex-end;
    margin-top: 7px;
    margin-bottom: 0;
}

.reviews-section {
    border-radius: 8px;
    display: flex;
    margin-top: 70px;
    min-height: 126px;
    width: 100%;
    padding: 17px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(5, 0, 56, 1);
    line-height: 1;
    justify-content: center;
}

.rating-stars {
    aspect-ratio: 6.99;
    object-fit: contain;
    object-position: center;
    width: 105px;
}

.reviews-count {
    margin-top: 10px;
    line-height: 15px;
}

.review-logos {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 14px;
    overflow: hidden;
}

.review-logo {
    aspect-ratio: 0.59;
    object-fit: contain;
    object-position: center;
    width: 19px;
    flex-shrink: 0;
}

.review-logo-wide {
    aspect-ratio: 1.85;
    object-fit: contain;
    object-position: center;
    width: 59px;
    flex-shrink: 0;
}

/* Section 2 */
.trusted-section {
    padding: 60px 60px 0px 60px;
    line-height: 1;
}

.trusted-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-placement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trusted-heading {
    display: flex;
    justify-content: center;
}

.partner-logos {
    width: 100%;
    margin: 50px;
}

/* Section 3 */
.note-section {
    flex-direction: column;
    display: inline-flex;
    padding: 0 100px;
    align-items: start;
    margin-top: 57px;
}

.note-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 230px;
}

.note-image {
    width: 454px;
    height: 472px;
}

.note-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.note-heading {
    color: rgb(5, 0, 56);
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0;
}

.note-description {
    color: #050038;
    line-height: 24px;
    margin-top: 16px;
    align-self: stretch;
}

.note-cta-link {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1;
    justify-content: center;
    left: 0;
    text-decoration: none;
    margin-top: 43px;
}

.note-cta-text {
    align-self: stretch;
    margin: auto 0;
    padding: 5px 0;
    color: rgb(5, 0, 56);
    width: 105px;
}

/* Section 4 */
.collaborate-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.collaborate-heading {
    width: 1140px;
    padding: 28px 70px 0;
    color: rgb(5, 0, 56);
    text-align: center;
    letter-spacing: -1px;
    line-height: 56px;
    margin: 0;
}

.features-container {
    display: flex;
    margin-top: 40px;
    padding: 0 10px;
    align-items: start;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
}

.feature-card {
    min-width: 240px;
    width: 360px;
    padding: 23px 24px 44px;
}

.feature-title {
    color: rgb(5, 0, 56);
    line-height: 1;
    letter-spacing: -0.5px;
    margin: 0;
}

.feature-description {
    color: #050038;
    line-height: 24px;
    margin-top: 29px;
    margin-bottom: 0;
}

.feature-link {
    color: rgb(151, 71, 255);
    text-decoration: none;
}

.feature-link:hover {
    text-decoration: underline;
}

/* Section 5 */
.integration-section {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
}

.integration-container {
    display: flex;
    align-items: flex-start;
    gap: 115px;
}

.integration-image-wrapper {
    margin: 0;
}

.integration-image {
    width: 550px;
    height: 544px;
    object-fit: contain;
}

.integration-content {
    padding-top: 100px;
    width: 465px;
}

.integration-heading {
    color: #050038;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0 0 28px 0;
}

.integration-description {
    color: rgba(5, 0, 56, 0.6);
    line-height: 24px;
    margin: 0 0 46px 0;
}

.learn-more-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
}

.learn-more-text {
    color: #050038;
    line-height: 24px;
}

/* Section 6 */
.miro-container {
    position: relative;
    width: 1440px;
    height: 1400px;
    overflow: hidden;
    background-color: #131126;
}

.miro-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 215px;
    position: relative;
    z-index: 1;
}

.miro-title {
    color: #fff;
    text-align: center;
    line-height: 56px;
    letter-spacing: -1px;
    max-width: 500px;
    margin-bottom: 20px;
}

.miro-demo-link {
    color: #fff;
    text-align: center;
    line-height: 22px;
    padding-bottom: 1px;
    width: 290px;
    border-bottom: 0.1em solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.miro-iso-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    position: relative;
    z-index: 1;
}

.iso-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0 20px;
}

.iso-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
}

.iso-circle-large {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
}
.iso-circle-header {
    color: #fff;
    font: "Inter";
    font-weight: 900;
    font-size: 69px;
    margin-bottom: 20px;
}
.iso-text {
    color: #fff;
    line-height: 1.5;
    margin: 0;
}

.miro-background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Section 7 */
.report-section {
    margin-top: 100px;
}

/* Section 8 */
.testimonials {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.testimonials-heading {
    margin-top: 100px;
    color: #050038;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 60px;
}

.testimonials-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 28px;
}

.testimonial-card {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(5, 0, 56, 0.08);
    padding: 36px;
    width: 360px;
    background-color: #fff;
    justify-content: space-between;
}

.logo-wrapper {
    height: 62px;
    margin-bottom: 34px;
}

.company-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.testimonial-quote {
    color: rgba(5, 0, 56, 0.6);
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 51px;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 16px;
}

.author-image {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-name {
    color: rgba(5, 0, 56, 0.6);
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.author-role {
    color: rgba(5, 0, 56, 0.6);
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.stories-button {
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #242424;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    color: #050038;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    background-color: #fff;
}

/* Section 9 */
.join-section {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    position: relative;
    padding: 120px 80px;
    align-items: center;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    justify-content: center;
    margin-top: 100px;
}

.join-background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
        url("/ex1/assets/Section6/bg.png") lightgray center/cover no-repeat;
}

.join-wrapper {
    position: relative;
    display: flex;
    width: 519px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

.join-title {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    align-self: stretch;
    margin: 0;
}

.join-subtitle {
    line-height: 24px;
    margin-top: 4px;
    margin-bottom: 0;
}

.join-contact-link {
    color: inherit;
    text-decoration: none;
    z-index: 10;
    margin-top: -6px;
    cursor: pointer;
}

.join-username-input {
    align-self: stretch;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(36, 36, 36, 1);
    margin-top: 45px;
    margin-left: 14px;
    padding: 10px 30px;
    font-family: Noto Sans, -apple-system, Roboto, Helvetica, sans-serif;
    color: rgba(5, 0, 56, 1);
    white-space: nowrap;
    text-align: center;
    cursor: default;
}

/* product page */
.product-container {
    display: flex;
    width: 1300px;
    padding: 100px 0px;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.product-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-title {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #050038;
    text-align: center;
    letter-spacing: -1px;
    line-height: 56px;
    margin: 0;
}

.product-subtitle {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: rgba(5, 0, 56, 0.6);
    text-align: center;
    max-width: 1000px;
    line-height: 24px;
    margin: 50px;
}

.product-divider {
    width: 100%;
    height: 1px;
    margin: 50px 0;
    background-color: #d9d9d9;
    border: none;
}

.product-gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
    margin-bottom: 100px;
}

.product-gallery-row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.product-gallery-row.three-column {
    justify-content: flex-start;
}

.product-gallery-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-gallery-item {
    margin: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.product-gallery-img {
    display: block;
    width: 100%;
    transition: filter 0.3s ease;
}

.product-gallery-item:hover .product-gallery-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: blur(15px);
}

.product-gallery-description {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

/* Show overlay text on hover */
.product-gallery-item:hover .product-gallery-description {
    opacity: 1;
}
.product-gallery-description h2 {
    color: #fff;
    text-align: center;
    font-family: "Noto Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
    margin-bottom: 50px;
}
.product-gallery-description p {
    color: #eaeaea;
    text-align: center;
    font-feature-settings: "case" on;
    font-family: "Noto Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    letter-spacing: -0.408px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product-gallery-item.large {
    flex: 2;
}

.product-gallery-item.small {
    flex: 1;
}

.product-gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

/* second page */
.solution-container {
    margin: 117px 70px 374px 70px;
}

/* 1. Grid of Cards */
.board-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.solution-list-card {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    padding-bottom: 50px;
    align-items: flex-start;
}

.solution-card {
    display: flex;
    width: 380px;
    height: 336px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.solution-card img {
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}
.user-logo {
    display: flex;
    flex-direction: row;
}

.ava-place {
    width: 100%;
}

.solution-card .card-info {
    display: flex;
    flex-direction: row;
    padding: 24px 16px;
    gap: 16px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    transition: bottom 0.3s ease;
}

.solution-card .card-info .user-avatar {
    width: 40px;
    height: 40px;
}
.solution-card .card-info h3 {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
}
.solution-card .card-info p {
    font-size: 14px;
    color: #cecece;
    line-height: 1.4;
}
/* Hover effects */
.solution-card:hover img {
    transform: scale(1.1); /* Zoom effect on image */
}
.solution-card:hover .card-info {
    bottom: 0;
}
.card-image {
    width: 476px;
    height: 208px;
    flex-shrink: 0;
}

.card-info {
    padding: 16px;
}

/* 2. Title / Subtitle */
.board-heading {
    text-align: center;
    margin: 50px 0px;
}

.board-title {
    color: #050038;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.board-subtitle {
    color: rgba(5, 0, 56, 0.6);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

/* 3. Navigation & Pagination */
.board-footer {
    text-align: center;
    margin-bottom: 40px;
}

/* Category Tabs */
.board-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.board-categories div button {
    padding: 8px 16px;
    border: none;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.pagination ul {
    display: inline-flex;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0 0 20px;
}

.pagination button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 8px;
}

.board-actions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}
