.nav-item {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
}

.dropdown-icon {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 12px;
    margin-top: 2px;
}

.enterprise-link,
.pricing-link {
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-transform: uppercase;
}

.language-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
}

.contact-sales-btn,
.login-btn {
    font-family: Inter, -apple-system, sans-serif;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.signup-btn {
    border-radius: 24px;
    background-color: #4262ff;
    border: 1px solid #4262ff;
    padding: 17px 22px;
    color: #ffffff;
    line-height: 1;
    font: inherit;
}

.arrowbox {
    display: flex;
    position: fixed;
    bottom: 80px;
    right: 100px;
    flex-direction: column;
    align-items: end;
    z-index: 999;
}
.arrow {
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    border: solid #050038;
    border-width: 3px;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    justify-content: center;
}

.note-cta-arrow {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple-arrow {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-color: purple;
    font-size: 20px;
    color: purple;
    background-color: #ffffff;
}
.point-btn {
    border: none;
    border-radius: 8px;
    background-color: #ad8bda;
    margin: auto 0;
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}
.point-btn:hover {
    background: #f0e8ff;
    border: 1px solid #242424;
    color: #242424;
}

.point-btn:active {
    background: #7b24ed;
    color: white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}
