/* Header */
.logo .main-logo p {
    color: #727272;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    opacity: 1;
    height: 100%;
}

.nav-list {
    display: flex;
    gap: 65px;
    margin-left: 260px;
}

.nav-list a {
    text-decoration: none;
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-list a:hover {
    color: #000;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-left: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.header-right .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: fit-content;
}

.header-right .button div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right .button div p {
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.search-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Main Section */
.contents-devidor {
    display: flex;
    gap: 55px;
    max-width: 1280px;
    margin-top: 50px;
    box-sizing: border-box;
}

/* Footer */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 190px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.social-icons img {
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    object-fit: contain;
}

.devidor p {
    color: #727272;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 35px 0px;
}
